@page "/products"

@inject ISearchProduct searchProduct

<h3>Search Products</h3>
<br />
<SearchBar OnSearch="HandleSearch"></SearchBar>

<ul>
    @foreach (var product in products)
    {
        <li>@product.Name</li>
    }
</ul>

@code {

    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = searchProduct.Execute(string.Empty)!;
    }

    private void HandleSearch(string filter)
    {
        
    }
}
